/*.twitterborder {
    width:500px;
    height:300px;
    margin-top:3px;
    margin-right:5%;
    float:right;
    background:#707070;
    text-align: center;
}
*/

/*#fp {background-color: #ee3e80;}

*/
html {
       overflow-y: scroll;
}

.cd-main-header, .cd-main-content {
  position: relative;
  transition: transform 0.3s;
}
.cd-main-header.nav-is-visible, .cd-main-content.nav-is-visible {
  transform: translateX(-260px);
}

@media only screen and (min-width: 1024px) {
  .cd-main-search {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
  }
  .cd-main-search.is-visible {
    /* search form open */
    opacity: 1;
    visibility: visible;
  }
}

.buttontable {
    border-collapse: collapse;
	border-spacing: 10px 0;
	text-align:center;
}



.emailvideo{
	align="center"
}

.buttonmenu{
	vertical-align:top;
	width:500;
}

.logo{
	padding-top: 15px;
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
	margin-left:10px
}
.table{
    display:table;
    height: 100%;
    width: 100%;
}
.table-cell{
    display:table-cell;
    vertical-align: middle;
}

header {
    background-color:blue;
    color:white;
    text-align:center
    padding:5px;
}
aside {
   	 float: right;
  margin: 0 1.5%;
  width: 30%;
}
section1 {
    width:750px;
    float:left;
    padding:10px;
}
footer {
    background-color:#465a64;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
